[core]
	editor = \"C:\\Users\\pcedillo\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	autocrlf = false
[user]
	name = PedroCedillo
	Peter = Pedro Cedillo
	email = gearsofwar12333@gmail.com
